@import "nib"
@import "animate.css"
@import "bootstrap.min.css"
@import "font-awesome.min.css"
azul = #3F51B5
verde = #64DD17
gris = #E8EAF6
gris2 = #C5CAE9

/*
 *css componente de grupo de especialidades
 */
.groups
	display flex
	flex-wrap wrap
	justify-content space-around
	margin-bottom 3em
.group
	border-radius .15em
	width 300px
	color white
	margin-top 2em
	text-align center
	border .1em solid gris2
	&__name
		background azul
		margin-bottom 0
		padding 2em 0
		text-transform uppercase
		vertical-align text-botoom
	&--footer
		width 100%
		background gris
		padding .5em 0
		&__link
			color black
			opacity .4
			transition all .5s
		&__link:hover
			text-decoration none
			color black
			opacity .9

.table-li
	list-style none
	display inline-block
	& > div
		border 1px solid black
		padding .2em 1em
		margin-left -4px
/*
 *css null
 */
.face
	color dodgerblue
	font-size 10em
	display inline-block
	padding 0
	transform rotate(90deg)
.icon
	&-link
		font-size 3em
